<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajay Shukla - Artist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
            margin: 0;
            padding: 0;
        }

        section {
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            max-height: 400px;
        }


        ol {
            padding-left: 20px;
        }

        ol h2 {
            color: #333;
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            color: black;
            font-family: 'Crimson Pro', serif;
            font-style: italic;
            font-size: large;
            
        }

        .left-part,
        .right-part {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        @media (min-width: 768px) {

            .left-part,
            .right-part {
                width: 50%;
                float: left;
            }

            .right-part {
                float: right;
            }
        }
    </style>
</head>

<body>

    <section class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="content">
                    <i>
                    Welcome to the vibrant world of Ajay Shukla, a distinguished artist with a Master's in Drawing and
                    Painting and a Diploma in Fine Arts. With a passion for creating captivating abstract paintings,
                    expressive oil masterpieces, and intricate pencil sketches, Ajay brings a unique blend of skill and
                    creativity to the canvas. Explore the fusion of imagination and technique that defines Ajay's
                    artistic journey, where each stroke tells a story and colors come alive. Embrace the beauty of art
                    through the lens of Ajay Shukla's vision.
                    
                    <br><br>                    
                    <p >Explore my galleries, and you'll find a diverse collection that spans genres and themes. Whether
                        it's the evocative landscapes that capture the essence of nature or the intimate portraits that
                        delve into the human soul, each canvas tells a story waiting to be discovered.</p></i>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/img/uncle's_pic.jpeg" class="img-fluid rounded" alt="Ajay Shukla">
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="left-part">
                <ol>
                    <h2 style="text-decoration: underline; font-weight: bold;">PARTNERSHIP EXHIBITION:</h2>
                    <li>All India Kaliklas Exhibition at Ujjain 1978, 1982, 1986</li>
                    <li>Bhartiya Sanskriti Exhibition at New York Boston (USA) 1984</li>
                    <li>M.P state Exhibition at Bharat Bhavan Bhopal 1992</li>
                    <li>Shalimar house Exhibition at Bhopal 1993</li>
                    <li>M.S. Bhand Exhibition, Bhopal 1994</li>
                    <li>Tulika samwad Exhibition (gas tragedy) Bhopal 1985 to 1994</li>
                    <li>Swarna jayanti Exhibition, Jabalpur 1997</li>
                    <li>M.P. State Exhibition Indore 2000</li>
                    <li>Camlin west zone Exhibition, Mumbai 2000</li>
                    <li>AIFACS Exhibition, Bhopal 2001</li>
                    <li>Fankar Group of Art Ravindra Bhavan at New Delhi 2004</li>
                    <li>Kamataka Chitrakala Parishad Bangalore 2004</li>
                    <li>Lalit Kala Parishad Bangalore 2005</li>
                    <li>Lalit Kala Academy New Delhi 2005</li>
                    <li>Raja Ravi Verma Exhibition Bharat Bhavan Bhopal 2008,09,10</li>
                    <li>AIFACS Gallery, New Delhi 2009</li>
                    <li>Bharat Bhavan Bhopal 2009</li>
                    <li>Karnataka chitrakala parishad Bangalore 2010</li>
                    <li>Artists centre Mumbai 2011</li>
                    <li>Birla Academy of Art and Culture Kolkata 2011</li>
                    <li>Lalit Kala Academy, New Delhi 2011</li>
                    <li>Swaraj Bhavan, Bhopal 2011.</li>
                    <li>Bharat Bhawan, Bhopal 2012</li>
                    <li>Lalit Kala Academy Lucknow 2014</li>
                    <li>Bharat Bhavan Bhopal 2015</li>
                </ol>
            </div>
            <div class="right-part">
                <ol>
                    <h2 style="text-decoration: underline; font-weight: bold;">SOLO EXHIBITION:</h2>
                    <li>Devlalikar kaka vithika, Indore 1992 Jahangir art gallery. Mumbai 1994 &1998</li>
                    <li>Bharat Bhavan Bhopal 2016.</li>
                    <!-- <li>CAMPS:</li>
                    <li>Sarjan Kala Samuh Jabalpur 1997</li>
                    <li>All India Senior Artist Camp Bikaner 2003</li>
                    <li>Rashtriya Lalit kala Kendra, bhuwneshwar at Bhopal 2004</li>
                    <li>Rashtriya Lalit kala Kendra, bhuwneshwar at Gwalior 2009</li>
                    <li>All India Fine Arts & Crafts Society, New Delhi 2012 National Art Festival, Gangtok 2013.</li> -->

                </ol>

                <br>

                <ol>
                    <h2 style="text-decoration: underline; font-weight: bold;">CAMPS:</h2>
                    <li>Sarjan Kala Samuh Jabalpur 1997</li>
                    <li>All India Senior Artist Camp Bikaner 2003</li>
                    <li>Rashtriya Lalit kala Kendra, bhuwneshwar at Bhopal 2004</li>
                    <li>Rashtriya Lalit kala Kendra, bhuwneshwar at Gwalior 2009</li>
                    <li>All India Fine Arts & Crafts Society, New Delhi 2012 National Art Festival, Gangtok 2013.</li>
                    <!-- List items go here -->
                </ol>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js