<% if(painting != null ) { %>

  
  <!-- Breadcrumb Navigation -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home/<%- painting.category %></a></li>
    </ol>
  </nav>

   <!-- Main Content Container -->
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-12 col-md-6 mx-auto">
        <img src="/uploads/<%- painting.image %>" class="img-fluid w-100 sticky-top" style="top: 20px;" alt="<%- painting.name %>" loading="lazy">

      </div>
    </div>
  </div>  
  
<% } else { %>
   <!-- Displayed when No Item is Found -->
  <p>No item found.</p>
<% } %>