<!-- Page Heading -->
<h1 class="pb-4">Search Results</h1>

<!-- Display Search Results in a Grid Layout -->
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(painting != '') { %>
    <% painting.forEach(function(painting, index){ %>
    <a href="/painting/<%= painting._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= painting.image %>" alt="<%= painting.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= painting.name %></div>
    </a>
    <% }) %>
     <!-- Displayed when no search results are found -->
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div>